
    <!-- Main content -->
{% include 'head_atas.html' %}
{% include 'sub_menu.html' %}

<section class="content">
      <div class="container-fluid">
 <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
<marquee>Selamat Datang, Di Aplikasi Manajemen Apotek Bunda</marquee>
</div>
<div style="height:400px; background-image: url('/static/icon/dalamapotek.jpg');">
  
<h3 align="center">
  <img src="/static/icon/images.png">
<u>APLIKASI MANAJEMEN OBAT APOTEK BUNDA SIDOPEKSO
</u>
</h3>

</div>


</div>
</div>
</div>
</div>
</section>

{% include 'head_bawah.html' %}
