{% include 'head_atas.html' %}
{% include 'sub_menu.html' %}
<script type="text/javascript">
  function sum(){
    var harga=document.getElementById('harga').value;
    var jumlah=document.getElementById('jumlah').value;
    var result =(parseInt(harga) * parseInt(jumlah));
    if (!isNaN(result)){
      document.getElementById('total').value = result;
    }
  }
</script>
<section class="content">
      <div class="container-fluid">
 <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title"><b>DAFTAR DATA SUPLIER UNTUK PEMBELIAN OBAT</b></h3>
                <div class="card-tools">
                  <div align="right">
                    <br>
                  <h5><i>Silakan anda proses pembelian obat di suplier, chek dulu data pada suplier..</i></h5>
                </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0" style="height: 300px;">
              <table id="example1" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                <td width="50px">No</td>
                <td>Kode Suplier</td>
                <td>Nama Suplier</td>
                <td>Lokasi</td>
                <td>Alamat</td>
                <td>Proses</td>
                    </tr>
                  </thead>
                  <tbody>                  
          {% for tampil in data %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{tampil.kode_suplier}}</td>
                    <td>{{tampil.nama_suplier}}</td>
                    <td>{{tampil.lokasi}}</td>
                    <td>{{tampil.alamat}}</td>
<td>
  <a href="{% url 'proses_pembelian' tampil.id %}" class="btn btn-xs btn-warning" title="Proses" onclick="return confirm('Apakah Anda Yakin Akan Memproses Pembelian DI,....{{tampil.nama_suplier}}')">
      <i class="ace-icon fa fa-edit bigger-130"></i> Proses Pembelian
      </a>  
</td>                                  
                  </tr>
          {% endfor %}
                  </tbody>
                </table>
              </div>


<div class="callout callout-info">
<h5><i class="fas fa-info"></i> Input :</h5>
Jika untuk menambahkan data pembelian Obat yang tidak terdaftar di <b>(data suplier)</b>, silakan tambahkan data secara menual dengan klik pada tombol button <b>Input New.</b>
<a href="#"  data-toggle="modal" data-target="#exampleModal" class="btn btn-xs btn-info" title="Input menual New.."> Input New</a>
</div>
<!-- show -->
<form method="post" enctype="multipart/form-data">
  {% csrf_token%}
  <input type="hidden" name="nota" class="form-control" value="NT-{{kode_otomatis}}" readonly="readonly"/>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h4 style="color: #000"><u>INPUT DATA PEMBELIAN OBAT</u>
          <img src="/static/icon/obat.png" style="width: 60px">
        </h4>
            <table class="table">
            <!-- 
             <tr>
             <td><label>Nota</label>
             <input type="text" name="nota" class="form-control" value="NT-{{kode_otomatis}}" readonly="readonly"/>
             </td>
             </tr>              -->
             <tr>
             <td><label>Nama Pembelian</label>
             <input type="text" name="nama_pembelian" class="form-control" placeholder='Masukkan Nama Pembelian' required/>
             </td>
           </tr>             
             <tr>
             <td><label>Kode Suplier</label>
             <input type="text" name="kode_suplier" class="form-control" placeholder='Masukkan Kode Suplier'/>
             </td>
           </tr>
             <tr>
             <td><label>Nama Suplier</label>
             <input type="text" name="nama_suplier" class="form-control" placeholder='Masukkan Nama Suplier'>
             </td>
           </tr>
             <tr>
             <td><label>Tanggal Pembelian</label>
             <input type="text" name="tgl_pembelian" class="form-control" placeholder='Masukkan Tanggal Pembelian' required/>
             </td>
           </tr>
           <tr>
             <td><label>Harga Pembelian</label>
             <input type="text" name="harga" class="form-control" placeholder='0' required onkeyup="sum();" id="harga" />
             </td>
           </tr>
           <tr>
             <td><label>Jumlah Pembelian</label>
             <input type="number" name="jumlah" class="form-control" placeholder='Masukkan Jumlah Pembelian' required onkeyup="sum();" id="jumlah" />
             </td>
           </tr>
           <tr>
             <td><label>Total Pembelian</label>
             <input type="text" name="total" class="form-control" placeholder='0' required onkeyup="sum();" id="total" readonly />
             </td>
           </tr>
             <tr>
             </table> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>
</form>
<!-- end show -->
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>

{% include 'head_bawah.html' %}
