{% include 'head_atas.html' %}
{% include 'sub_menu.html' %}

{% if messages %}
{% for info in messages %}
<script>alert('{{info}}');location='{% url "kadar" %}';</script>
{% endfor %}
{% endif %}
<section class="content">
      <div class="container-fluid">
 <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title"><b>DAFTAR DATA KADALUARSA OBAT</b></h3>
                <div class="card-tools">
                  <div align="right">
                  <a href="{% url 'tambah_kadaluarsa' %}" class="btn btn-success btn-sm"> <i class="fa fa-plus"></i> Tambah Data</a>
                </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0" style="height: 300px;">
              <table id="example1" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                <td width="50px">No</td>
                <td>Kode Kadaluarsa</td>
                <td>Nama Obat</td>
                <td>Nama Suplier</td>
                <td>Tanggal Kadaluarsa</td>
                <td>Status</td>
                <td>Aksi</td>
                    </tr>
                  </thead>
                  <tbody>                  
          {% for tampil in data %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{tampil.kode_kadar}}</td>
                    <td>{{tampil.nama_obat}}</td>
                    <td>{{tampil.nama_suplier}}</td>
                    <td>{{tampil.tanggal_kadar}}</td>
                    <td>{{tampil.status}}</td>
<td>
<a href="{% url 'edit_kadaluarsa' tampil.id %}" class="btn btn-xs btn-warning" title="Edit" onclick="return confirm('Apakah Anda Yakin Ingin Mengedit Data')">
      <i class="ace-icon fa fa-edit bigger-130"></i> Edit
      </a>
<a href="{% url 'hapus_kadaluarsa' tampil.id %}" class="btn btn-xs btn-danger" title="Hapus" onclick="return confirm('Apakah Anda Yakin Ingin Menghapus Data')">
      <i class="ace-icon fa fa-trash bigger-130"></i> Hapus
      </a>    
  </td>                                  
                  </tr>
          {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>

{% include 'head_bawah.html' %}
